<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Herramientas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>

        <ion-button expand="full" color="secondary" size="large" shape="round" (click)="bajarArchivoCsv()">
          Enviar datos por email
        </ion-button>
        <ion-item-divider>
          
        </ion-item-divider>
        <ion-button expand="full" color="danger" size="large" shape="round" (click)="limpiar()">
          Borrar datos del celular
        </ion-button>
    
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
